<!DOCTYPE html>
<html>
	<head>
		<link href="all.css" type="text/css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link href="lib/bootstrap.min.css" type="text/css" rel="stylesheet">
	</head>

	<body ng-app="app">
		<div ng-controller="mainController" class='wrapper'> 
			<div class='card card-header'>
				(Poor) Wayfairing Stranger
			</div> 
			<div class='card card-header'>
				Based on <a href="http://lkgarrison.github.io/Random-Sentence-Generator/#">Random Sentence Generator</a>
			</div> 

			<div class='card'>
				Select Markov Order Number for random sentence generation:
				<div class="btn-group" uib-dropdown keyboard-nav>
					<button type="button" class="btn btn-primary"  uib-dropdown-toggle>
						{{markovNumber}}
						<span class="caret"></span>
					</button>

					<ul uib-dropdown-menu>
						<li ng-repeat="num in markovNumbers" ng-click="saveMarkovNumber(num)"><a href="#">{{num}}</a></li>
					</ul>
				</div>

				<div class="top-padding">
					Specify how many characters of text to generate:
					<input ng-model="numCharToGenerate">
					<span class="warning" ng-show="checkForErrorNumChar()">
						Please specify an integer less than 10,000
					</span>
				</div> 

				<div class="top-padding">
					<u class="section-label">Source text for model generation:</u>
					<textarea rows="8" class="source-text" ng-model="source">
						
					<p><?php include('/sources.txt'); ?></p>
					
					<div><object data="/sources.txt"></object></div>
						
					<!--#include file="/sources.txt" -->
						
					<script>
						var txtFile = new XMLHttpRequest();
    var allText = "file not found";
    txtFile.onreadystatechange = function () {
        if (txtFile.readyState === XMLHttpRequest.DONE && txtFile.status == 200) {
            allText = txtFile.responseText;
            allText = allText.split("\n").join("<br>");
        }

        document.getElementById('txt').innerHTML = allText;
    }
    txtFile.open("GET", '/sources.txt', true);
    txtFile.send(null);
						</script>
						
					</textarea>
					<span class="warning" ng-show="checkForErrorSource()">Please provide more than {{markovNumber}} characters in the input region above</span>
				</div> 

				<div class="centered">
					<button ng-click="generateText()" type="button" class="btn btn-primary">
						Generate Sentences
					</button> 
				</div> 

				<div class="top-padding" ng-show="generatedText.length > 0">
					<u class="section-label">Generated Text:</br></u>
					{{generatedText}}
				</div> 

			</div> 
		</div> 
	</body>

	<script src="lib/angular.min.js"></script>
	<script src="lib/ui-bootstrap.js"></script>
	<script src="cp1.js" type="text/javascript"></script>

</html> 
